<div class="background" [ngStyle]="{'height': '' + telaHeight + 'px'}">
    <div class="container">
        <div class =" d-flex align-items-center">
            <h1 class="score">SCORE</h1>
        </div>

        <div class="row justify-content-center ">

            
            <div class="col-6  resultado">
                <ul class="list-unstyled">
                    <li class="row">
                        <div class="col-4"><span>Nome</span></div>
                        <div class="col-4"><span>Pontuação</span></div>
                        <div class="col-4"><span>Tempo</span></div>
                    </li>
                    <li class="row">
                        <div class="col-4"><span>Fulano </span></div>
                        <div class="col-4"><span>100</span></div>
                        <div class="col-4"><span>30</span></div>
                    </li>
                    <li class="row">
                        <div class="col-4"><span>Eliana </span></div>
                        <div class="col-4"><span>110</span></div>
                        <div class="col-4"><span>30</span></div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-center">
                <div class="col-6 align-content-center ">
                    <button type="button" class="btn btn-danger  botao"  >Novo Jogo</button>
                </div>
        </div>
    </div>
</div>
