<div class="background2" style="height: 657px;">
    <div class="container">
        <div class =" d-flex align-items-center">
            <h1 class="score">SCORE</h1>
        </div>
        <div class="row justify-content-center">

            <div class="col-6 align-content-center titulo">
                <span>Nome</span>
                <span>Pontuação</span>
                <span>Tempo</span>
            </div>
            <div class="col-8 align-content-center resultado">
                <ul>
                    <li>
                        <span>Fulano </span>
                        <span>100</span>
                        <span>30</span>
                    </li>
                    <li>
                        <span>Eliana </span>
                        <span>110</span>
                        <span>30</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-center">
                <div class="col-6 align-content-center ">
                    <button type="button" class="btn btn-danger  botao"  >Novo Jogo</button>
                </div>
        </div>
    </div>
</div>
