.score{
    font-weight: bold;
    margin-top: 120px ;
    margin-left:445px ;
    font-size: 70px;
        color: white;
        

}

.resultado, .titulo{
    text-align: center;
}
    
.resultado{
    margin-left: 35px;
  
    li{
        margin: 30px ;
        
       
        span{
        //     padding: 0px 20px;
             margin-right: 105px;
             font-size: 25px;
             font-weight: bold;
        }
    }
}


.titulo{
    
    span{
        padding: 0px 40px;
        font-size: 20px;
        font-weight: bold;
        background: black;
        color: white;
    }
}

.botao{
    text-align: center;
    margin: 35px 200px;
    font-weight: bold;
    font-size: 20px;


}
