<div class="background" [ngStyle]="{'height': '' + telaHeight + 'px'}">
    <div class="container">
        <div class =" d-flex align-items-center">
            <h1 class="score">SCORE</h1>
        </div>

        <div class="row justify-content-center ">

            
            <div class="col-6  resultado">
                <ul class="list-unstyled">
                    <li class="row">
                        <div class="col-4"><span>Nome</span></div>
                        <div class="col-4"><span>Pontuação</span></div>
                        <div class="col-4"><span>Vida</span></div>
                        <!-- //colocar o campo vida -->
                    </li>
                    <li class="row" *ngFor="let item of _jogo.listUsuarios">
                        <div class="col-4"><span >{{item.nome}} </span></div>
                        <div class="col-4"><span>{{item.pontuacao}}</span></div>
                        <div class="col-4"><span>{{item.vida}}</span></div>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="row justify-content-center">
                <div class="col-6 align-content-center ">
                    <button routerLink="Home" type="button" class="btn btn-danger  botao"  >Novo Jogo</button>
                </div>
        </div>
    </div>
</div>
