<div class="background" [ngStyle]="{'height': '' + telaHeight + 'px'}"> 
    <div class="container">

        <div class="row justify-content-center ">
                <div class=" image col-8 col-sm-10 col-md-6">
                    <img src="../../../assets/images/Tiro-ao-Alvo.png" class="w-100 p-4">
                </div>                
            </div>
            <div class="row justify-content-center">
    <div class="col-md-6 col-sm-8  col-10">
           
            <form [formGroup]="formInicio" class="  form-row  w-100" >
                <div class="form-group col-12">
                    <label  for="usuario">Nome:</label>
                    <input formControlName="usuario" name="usuario" class="form-control" type="text" id='usuario' placeholder="Insira o seu nome">
                </div>
                <div class="form-group col-6  ">
                    <label  for="fase">Fase:</label>
                    <select formControlName="fase" name="fase" class="form-control" id="fase">
                        <option value="" selected>Selecione a Fase</option>
                        <option value="0">Fase 1</option>
                        <option value="1">Fase 2</option>
                    </select>
                </div>
                <div class="form-group col-6 ">
                    <label for="nivel">Nível</label>
                    <select formControlName="nivel"  name="nivel" class="form-control" id="nivel"  >
                        <option value="" selected>Selecione o Nível </option>
                        <option *ngFor="let item of _jogo.listDificuldade" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                </div>
                <div class="form-group col-12 justify-content-center d-flex">
                    <button type="button" class="btn btn-danger btn-lg" (click)="iniciarJogo()" >Iniciar Jogo</button>
            
                </div>
            </form>
    </div>
</div>
    </div>
</div>

