<div   role="dialog" style="position: absolute; top: 300px; left: 300px;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{mensagem.titulo}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{mensagem.texto}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="removeModal()" >OK</button>
          <button type="button" class="btn btn-danger" (click)="cancelar()" *ngIf="mensagem.cancelarOn" >Cancelar</button>
        </div>
      </div>
    </div>
  </div>
