/* You can add global styles to this file, and also import other style files */
.background{
    background-image: url(../src/assets/images/fase1-casa.png)  ;
    background-repeat: space;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
}

.background2{
    background-image: url(../src/assets/images/fase2-lago.png)  ;
}
