/* You can add global styles to this file, and also import other style files */
.background{
    background-image: url(../src/assets/images/fase1-casa.png)  ;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
}

.background2{
    background-image: url(../src/assets/images/fase2-lago.png)  ;
}
